.site-layout {
    margin-top: 2rem;
}

.post-list {
    position: relative;
    border: 1px solid gainsboro;
    padding: 1rem 1rem 0.25rem;
    box-shadow: 0 -1px 4px #ede7e7;
    margin: 1rem 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 0.8);
}

.post-list-title {
    font-size: 1.3rem;
    font-weight: normal;
    margin-top: 0.25rem;
}

.post-list-date,
.post-list-author {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
}

.post-list-date li {
    margin: 0 0 0 -1.3rem;
}

.post-list-author li {
    margin: 0 0 -0.5rem -1.3rem;
}