.info-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 960px;
    margin: 3rem auto 0;
}

.info-text {
    list-style-type: none;
    margin-top: 1rem;
}

.social-media {
    list-style-type: none;
    display: flex;
}

ul.social-media li a {
    color: rgba(0, 0, 0, 0.8);
    box-shadow: none;
}

ul.social-media li a:hover {
    color: #cb4b16;
}