.info-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-text {
    list-style-type: none;
}

.social-media {
    list-style-type: none;
    display: flex;
}

ul.social-media li a {
    box-shadow: none;
}