p a {
    color: rgba(0, 0, 0, 0.8);
}

ul li {
    color: rgba(0, 0, 0, 0.8);
}

ul a,
a {
    color: rgba(0, 0, 0, 0.8);
}

.link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.post-list {
    border: 1px solid gainsboro;
    padding: .5rem;
    box-shadow: 0 -1px 4px #ede7e7;
    margin: 0 1rem 1rem;
}

img {
    height: 90% !important;
}

.post-list:hover {
    background-color: whitesmoke;
}

.site-footer {
    text-align: center;
}