p a {
    color: rgba(0, 0, 0, 0.8);
}

ul li {
    color: rgba(0, 0, 0, 0.8);
    margin-left: -0.5rem;
}

ul li a {
    color: #cb4b16;
}

ul a,
a {
    color: rgba(0, 0, 0, 0.8);
}

.link {
    color: #cb4b16;
}

img {
    height: 90% !important;
}

.post-list:hover {
    background-color: whitesmoke;
}

.site-footer {
    text-align: center;
}