p a {
    color: #cb4b16;
    box-shadow: none;
}

p {
    letter-spacing: 0.07em;
    line-height: 1.7;
}

ul li {
    color: rgba(0, 0, 0, 0.8);
    margin-left: -0.5rem;
    list-style-type: circle;

}

ul li p a {
    color: #cb4b16;
    letter-spacing: 0.07em;
}

ul a,
a {
    color: #cb4b16;
    box-shadow: none;
}

main h2 {
    letter-spacing: 0.07em;
}