.gsc-control-cse {
    padding: 0px !important;
    border-width: 0px !important;
}

form.gsc-search-box,
table.gsc-search-box {
    margin-bottom: 0px !important;
}

.gsc-search-box .gsc-input {
    padding: 0px 4px 0px 6px !important;
    border: none;
}

#gsc-iw-id1,
#gsc-iw-id2 {
    height: auto !important;
    padding: 0px !important;
    border-width: 0px !important;
    box-shadow: none !important;
}

#gs_tti50 {
    padding: 0px !important;
    border: none;
}

#gsc-i-id1,
#gsc-i-id2 {
    height: 33px !important;
    padding: 0px !important;
    background: transparent !important;
    text-indent: 0px !important;
}

.gsib_b {
    display: none;
}

button.gsc-search-button {
    display: block;
    width: 13px !important;
    height: 13px !important;
    border-width: 0px !important;
    margin: 0px !important;
    padding: 10px 6px 10px 13px !important;
    outline: none;
    cursor: pointer;
    box-shadow: none !important;
    box-sizing: content-box !important;
}

.gsc-branding {
    display: none !important;
    border: none;
}

.gsc-control-cse,
#gsc-iw-id1 {
    background-color: transparent !important;
}

/* CSS for changing placeholder color on search input box */

#gsc-i-id1::-webkit-input-placeholder {
    /* Chrome */
    color: #fff;
}

#gsc-i-id1:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

#gsc-i-id1::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    opacity: 1;
}

#gsc-i-id1:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #d87d00;
    opacity: 1;
}

#search {
    width: 100%;
    height: 43px;
    background-color: rgb(25, 13, 8);
    border-radius: 2px;
    overflow: hidden;
}

.gsc-search-box .gsc-input {
    padding: 6px 12px !important;
}

#gsc-i-id1 {
    color: #fff;
}

button.gsc-search-button {
    padding: 0 !important;
    background-color: transparent !important;
}

.gsc-search-button {
    padding-bottom: 2.5rem !important;
}
